*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.header-wrapper{
   display: flex;
   justify-content: center;
     align-items: center;
    height: 13vh;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    
}
h1{
    color: white;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
}
input{
    margin-top: 4rem;
    font-size: 1.5rem;
    border-radius: 8px;
}
button{
    cursor: pointer;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(20, 24, 24);
    color: white;
}
.img-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
    display:flex;
    flex-direction: column;
    border: 2px solid red;
    margin: 2rem;
    align-items:center;
    background-color: rebeccapurple;
    /* grid-template-columns: repeat(auto-fill,minmax(300px,2fr)); */
    /* column-gap: 8rem; */
}
p{
    color: white;
}
@media